In [1]:
#Importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn as sk

In [2]:
#Importing the CSV dataset as a dataframe
miceData = pd.read_csv("MiceProteinDataSet.csv", sep=',',header=0, decimal='.', encoding='unicode_escape')

In [4]:
miceData.describe()

,DYRK1A_N,ITSN1_N,BDNF_N,NR1_N,NR2A_N,pAKT_N,pBRAF_N,pCAMKII_N,pCREB_N,pELK_N,...,SHH_N,BAD_N,BCL2_N,pS6_N,pCFOS_N,SYP_N,H3AcK18_N,EGR1_N,H3MeK4_N,CaNA_N
count,1077.000000,1077.000000,1077.000000,1077.000000,1077.000000,1077.000000,1077.000000,1077.000000,1077.000000,1077.000000,...,1080.000000,867.000000,795.000000,1080.000000,1005.000000,1080.000000,900.000000,870.000000,810.000000,1080.000000
mean,0.425810,0.617102,0.319088,2.297269,3.843934,0.233168,0.181846,3.537109,0.212574,1.428682,...,0.226676,0.157914,0.134762,0.121521,0.131053,0.446073,0.169609,0.183135,0.205440,1.337784
std,0.249362,0.251640,0.049383,0.347293,0.933100,0.041634,0.027042,1.295169,0.032587,0.466904,...,0.028989,0.029537,0.027417,0.014276,0.023863,0.066432,0.059402,0.040406,0.055514,0.317126
min,0.145327,0.245359,0.115181,1.330831,1.737540,0.063236,0.064043,1.343998,0.112812,0.429032,...,0.155869,0.088305,0.080657,0.067254,0.085419,0.258626,0.079691,0.105537,0.101787,0.586479
25%,0.288121,0.473361,0.287444,2.057411,3.155678,0.205755,0.164595,2.479834,0.190823,1.203665,...,0.206395,0.136424,0.115554,0.110839,0.113506,0.398082,0.125848,0.155121,0.165143,1.081423
50%,0.366378,0.565782,0.316564,2.296546,3.760855,0.231177,0.182302,3.326520,0.210594,1.355846,...,0.224000,0.152313,0.129468,0.121626,0.126523,0.448459,0.158240,0.174935,0.193994,1.317441
75%,0.487711,0.698032,0.348197,2.528481,4.440011,0.257261,0.197418,4.481940,0.234595,1.561316,...,0.241655,0.174017,0.148235,0.131955,0.143652,0.490773,0.197876,0.204542,0.235215,1.585824
max,2.516367,2.602662,0.497160,3.757641,8.482553,0.539050,0.317066,7.464070,0.306247,6.113347,...,0.358289,0.282016,0.261506,0.158748,0.256529,0.759588,0.479763,0.360692,0.413903,2.129791

In [25]:
import pandas as pd
import glob

path = r'/home/harindu/Assignment_II/accel_data' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=None)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [26]:
frame

                0     1     2     3  4
0             0.0  1502  2215  2153  1
1             1.0  1667  2072  2047  1
2             2.0  1611  1957  1906  1
3             3.0  1601  1939  1831  1
4             4.0  1643  1965  1879  1
...           ...   ...   ...   ... ..
1431437  140900.0  2098  2305  1982  7
1431438  140900.0  2106  2314  1980  7
1431439  140900.0  2112  2319  1973  7
1431440  140900.0  2111  2319  1969  7
1431441  140900.0  2110  2312  1972  0

[1431442 rows x 5 columns]

In [15]:
path = r'/home/harindu/Assignment_II/accel_data'

In [21]:
import pandas as pd
from glob import glob

In [22]:
stock_files = sorted(glob('/home/harindu/Assignment_II/accel_data/*.csv'))
stock_files

['/home/harindu/Assignment_II/accel_data/1.csv',
 '/home/harindu/Assignment_II/accel_data/11.csv',
 '/home/harindu/Assignment_II/accel_data/12.csv',
 '/home/harindu/Assignment_II/accel_data/14.csv',
 '/home/harindu/Assignment_II/accel_data/15.csv',
 '/home/harindu/Assignment_II/accel_data/3.csv',
 '/home/harindu/Assignment_II/accel_data/4.csv',
 '/home/harindu/Assignment_II/accel_data/5.csv',
 '/home/harindu/Assignment_II/accel_data/6.csv',
 '/home/harindu/Assignment_II/accel_data/8.csv',
 '/home/harindu/Assignment_II/accel_data/9.csv']

In [28]:
pd.concat((pd.read_csv(file, header = None).assign(filename = file)
           for file in stock_files), ignore_index = True)

,0,1,2,3,4,filename
0,0.0,1502,2215,2153,1,/home/harindu/Assignment_II/accel_data/1.csv
1,1.0,1667,2072,2047,1,/home/harindu/Assignment_II/accel_data/1.csv
2,2.0,1611,1957,1906,1,/home/harindu/Assignment_II/accel_data/1.csv
3,3.0,1601,1939,1831,1,/home/harindu/Assignment_II/accel_data/1.csv
4,4.0,1643,1965,1879,1,/home/harindu/Assignment_II/accel_data/1.csv
...,...,...,...,...,...,...
1431437,166740.0,2072,2545,2059,7,/home/harindu/Assignment_II/accel_data/9.csv
1431438,166740.0,2069,2547,2064,7,/home/harindu/Assignment_II/accel_data/9.csv
1431439,166740.0,2069,2542,2062,7,/home/harindu/Assignment_II/accel_data/9.csv
1431440,166740.0,2069,2543,2063,7,/home/harindu/Assignment_II/accel_data/9.csv
1431441,166740.0,2065,2534,2060,0,/home/harindu/Assignment_II/accel_data/9.csv